/* common style */
html {
  margin: 0ex;
  padding: 0ex;
  background: #ffffff none;
  color: #111111;
}
body {
  margin: 0ex;
  padding: 0ex;
  text-align: center;
}
a {
  text-decoration: none;
  color: #0022bb;
}
a:hover {
  text-decoration: underline;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: #000000;
}
hr {
  clear: both;
  height: 1px;
  margin: 1ex 0ex;
  padding: 0ex;
  border: none;
  background: #999999 none;
  color: #888888;
}
form {
  margin: 0ex;
  padding: 0ex;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,dl {
  line-height: 150%;
}
div#frame {
  display: inline-block;
  max-width: 105ex;
  padding: 1ex 0ex;
  vertical-align: top;
}
div#main {
  width: 80ex;
  margin: 0ex;
  padding: 1ex;
  float: left;
  text-align: left;
}
div.logo {
  margin: 2ex 0ex 1ex 0ex;
}
h1.title {
  display: inline;
  font-size: 160%;
}
div.subtitle {
  display: inline;
  margin-left: 1ex;
  color: #333333;
  font-size: 95%;
}
div.subtitle:before {
  content: "- ";
  color: #555555;
}
div.subtitle:after {
  content: " -";
  color: #555555;
}
p.error,p.info {
  margin: 1ex 1ex;
  color: #333333;
}


/* top navigation bar */
div#topnavi {
  margin: -1ex 0ex 0ex 0ex;
  padding: 0.5ex 0ex;
  text-align: right;
  font-size: 90%;
}
div#topnavi a {
  margin: 0.2ex;
}


/* article view */
div.article {
  min-height: 24ex;
  padding: 1.5ex 0.2ex 1.5ex 0.2ex;
}
div.article .ah0 {
  margin-bottom: 0.8ex;
  padding: 0.3ex 0.8ex;
  border-left: solid 0.8ex #bbbbbb;
  border-bottom: solid 1px #cccccc;
  font-size: 132%;
}
div.article div.attr {
  margin: 0ex 1ex;
  text-align: right;
  color: #555555;
}
div.article div.attr span {
  color: #111111;
}
div.article .topic {
  margin: 1.6ex 0ex 0.8ex 0ex;
}
div.article .ah1 {
  font-size: 115%;
}
div.article .ah2 {
  font-size: 100%;
  margin-left: 0.3ex;
}
div.article .ah3 {
  font-size: 92%;
  margin-left: 0.4ex;
}
div.article .ah4 {
  font-size: 87%;
  margin-left: 0.5ex;
}
div.article .ah5 {
  font-size: 83%;
  margin-left: 0.6ex;
}
div.article .ah6 {
  font-size: 79%;
  margin-left: 0.7ex;
}
div.article p {
  margin: 1.1ex 0.5ex;
  text-indent: 1.5ex;
}
div.article ul,div.article ol {
  margin: 1.0ex 0.5ex;
  line-height: 130%;
}
div.article ul ul,div.article ul ol,div.article ol ul,div.article ol ol {
  margin: 0ex 0.5ex;
}
div.article pre {
  clear: both;
  margin: 1.1ex 2.5ex;
  padding: 0.3ex 0.5ex;
  white-space: pre-wrap;
  overflow: hidden;
  background: #f8f8f8;
  border: solid 1px #ccccdd;
  font-size: 90%;
}
div.article table {
  clear: both;
  margin: 1.1ex 3ex;
  border-collapse: collapse;
}
div.article table th,div.article table td {
  border: solid 1px #888888;
  padding: 0.2ex 0.5ex;
  font-size: 95%;
}
div.article blockquote {
  clear: both;
  margin: 0ex 2ex;
  padding: 0ex;
  line-height: 130%;
  border: 1px dashed #aaaabb;
  font-size: 95%;
}
div.article blockquote p {
  margin: 0.4ex 0.8ex;
}
div.article div.image {
  clear: both;
}
div.article div.image_normal {
  max-width: 92%;
  margin: 1.1ex 3ex;
}
div.article div.image_left {
  width: auto;
  float: left;
  margin: 1.2ex 1.8ex 1ex 0.5ex;
}
div.article div.image_left1 {
  max-width: 69%;
}
div.article div.image_left2 {
  max-width: 59%;
}
div.article div.image_left3 {
  max-width: 49%;
}
div.article div.image_left4 {
  max-width: 39%;
}
div.article div.image_left5 {
  max-width: 29%;
}
div.article div.image_left6 {
  max-width: 19%;
}
div.article div.image_right {
  width: auto;
  float: right;
  margin: 1.2ex 0.5ex 1ex 1.5ex;
}
div.article div.image_right1 {
  max-width: 69%;
}
div.article div.image_right2 {
  max-width: 59%;
}
div.article div.image_right3 {
  max-width: 49%;
}
div.article div.image_right4 {
  max-width: 39%;
}
div.article div.image_right5 {
  max-width: 29%;
}
div.article div.image_right6 {
  max-width: 19%;
}
div.article div.image_center {
  max-width: 100%;
}
div.article div.image_center1 {
  margin: 1.1ex 0ex;
}
div.article div.image_center2 {
  margin: 1.1ex 6ex;
}
div.article div.image_center3 {
  margin: 1.1ex 12ex;
}
div.article div.image_center4 {
  margin: 1.1ex 18ex;
}
div.article div.image_center5 {
  margin: 1.1ex 24ex;
}
div.article div.image_center6 {
  margin: 1.1ex 30ex;
}
div.article div.image_table {
  width: auto;
  float: left;
  margin: 1.1ex 0ex;
}
div.article div.image_table3 {
  width: 43%;
  padding-left: 4%;
}
div.article div.image_table4 {
  width: 28.5%;
  padding-left: 3%;
}
div.article div.image_table5 {
  width: 21%;
  padding-left: 2.8%;
}
div.article div.image_table5 {
  width: 21%;
  padding-left: 2.7%;
}
div.article div.image_table6 {
  width: 17%;
  padding-left: 2.2%;
}
div.image_table+* {
  clear: both;
}
div.image_table+div.image_table {
  clear: none;
}
div.article div.image_sized {
  max-width: none;
}
div.article div.image img,div.article div.image object {
  max-width: 100%;
  margin: 0ex;
  padding: 0ex;
  border: none;
}
div.article div.rule {
  clear: both;
  height: 1px;
  margin: 3ex 5ex 2ex 5ex;
  padding: 0ex;
  border: none;
  background: #cccccc none;
}
div.article div.rule_s1 {
  margin: 0ex;
  background: none;
}
div.article div.rule_s2 {
  margin: 2ex;
  background: none;
}
div.article div.rule_s3 {
  margin: 4ex;
  background: none;
}
div.article div.rule_s4 {
  margin: 8ex;
  background: none;
}
div.article div.rule_s5 {
  margin: 16ex;
  background: none;
}
div.article div.rule_s6 {
  margin: 32ex;
  background: none;
}
div.article div.rule_s7 {
  margin: 64ex;
  background: none;
}
div.article div.rule_s8 {
  margin: 128ex;
  background: none;
}
div.article div.rule span {
  display: none;
}
div.article div.comnum {
  clear: both;
  margin: 3ex 3ex 1ex 3ex;
  text-align: right;
  color: #888888;
  font-size: 90%;
}
div.article div.comnum a {
  color: #888888;
}
div.article div.comments {
  clear: both;
  margin: 4ex 0.4ex 1ex 0.4ex;
  padding: 0.3ex 1.0ex 0.3ex 5.0ex;
  text-indent: -4.0ex;
  border: 1px dotted #aaaabb;
  color: #222222;
  font-size: 90%;
}
div.comments div.meta {
  text-align: right;
  color: #666666;
}
div.comment span.owner {
  color: #111111;
  font-style: italic;
}
div.comment span.date {
  color: #666666;
  font-size: 90%;
}
div.commentformline {
  margin: 1ex 0ex;
}
div.commentformline span.user {
  color: #111111;
  font-style: italic;
}
dl.riddleformlist {
  margin: 1.5ex 0.5ex 1ex 2ex;
  color: #666666;
  line-height: 100%;
}
dl.riddleformlist span.question {
  font-style: italic;
}


/* front view */
div.view_front div.article h1.ah0 {
  margin: -1ex 1ex 0ex 1ex;
  padding: 0ex;
  text-align: right;
  border: none;
  font-size: 95%;
  font-style: italic;
}
div.view_front div.article h1.ah0 a {
  color: #555555;
}


/* search view */
form.searchform {
  margin: 2ex 1ex 3ex 1ex;
  padding: 1ex 1ex;
  border: 1px dashed #aaaabb;
  color: #333333;
  font-size: 90%;
}
div.listcolumn {
  width: 49%;
  float: left;
  color: #333333;
}
div.listcolumn h2 {
  font-size: 100%;
  margin: 0ex 0ex 0.5ex 0ex;
}
div.listcolumn ul {
  list-style-position: inside;
  margin: 0.5ex 0ex 2ex 0ex;
  padding: 0ex 0.3ex;
  line-height: 140%;
  font-size: 90%;
}
div.listcolumn ul li span.months {
  font-size: 90%;
}
div.listcolumn ul li span.months span.void {
  color: #888888;
}
dl#searchresult {
  margin: 0ex 1ex;
  line-height: 120%;
}
dl#searchresult dt {
  width: 80%;
  margin-top: 2.5ex;
  padding: 0ex 1ex;
  border-left: solid 1ex #bbbbbb;
  border-bottom: 1px solid #cccccc;
}
dl#searchresult dd {
  margin-left: 3ex;
  font-size: 90%;
}
dl#searchresult dd.attr {
  font-size: 85%;
  color: #333333;
}


/* edit view */
form.editform {
  margin: 1ex 1ex;
}
form.editform textarea {
  max-width: 100%;
}


/* users view */


form.userridform {
  margin: 1ex 1ex;
}
form.userridform dl {
  padding: 1ex;
  border: dashed 1px #888888;
}
form.userridform dl span.note {
  color: #555555;
  font-size: 90%;
}



form.usernewform {
  margin: 1ex 1ex;
}
form.usernewform dl {
  padding: 1ex;
  border: dashed 1px #888888;
}
form.usernewform dl span.note {
  color: #555555;
  font-size: 90%;
}
table#userlist {
  margin: 1ex 1ex;
  border-collapse: collapse;
}
table#userlist th,table#userlist td {
  border: solid 1px #888888;
  padding: 0.2ex 0.5ex;
  font-size: 95%;
}
table#userlist td.misc {
  font-size: 85%;
}


/* files view */
form.filenewform {
  margin: 1ex 1ex;
}
form.filenewform dl {
  padding: 1ex;
  border: dashed 1px #888888;
}
form.filenewform dl span.note {
  color: #555555;
  font-size: 90%;
}
form.filesearchform {
  margin: 2ex 1ex;
  padding: 1ex 1ex;
  border: 1px dashed #aaaabb;
  color: #333333;
  font-size: 90%;
}
table#filelist {
  margin: 1ex 1ex;
  border-collapse: collapse;
}
table#filelist th,table#filelist td {
  border: solid 1px #888888;
  padding: 0.2ex 0.5ex;
  font-size: 90%;
}
table#filelist td.name a.filename {
  display: inline-block;
  max-width: 32ex;
}
table#filelist td.name a.label {
  font-size: 95%;
}
table#filelist td.name div.thumnail {
  max-width: 10ex;
  max-height: 10ex;
  overflow: hidden;
  margin: -1ex 0ex 0.2ex 12ex;
}
table#filelist td.name div.thumnail img {
  max-width: 100%;
}
table#filelist td.misc {
  font-size: 80%;
}
table#filelist td.replace,table#filelist td.delete {
  text-align: right;
}
table#filelist td.misc input.fileinput {
  font-size: 90%;
}
table#filelist td.misc input.submit {
  font-size: 90%;
}


/* bottom navigation bar */
div#botnavi {
  clear: both;
  margin: 0ex;
  padding: 0ex;
  text-align: right;
  font-size: 90%;
}
div#botnavi a {
  margin: 0.2ex;
}


/* side bar */
div.frame_multi div#topnavi {
  display: none;
}
div#sidebar {
  width: 24ex;
  margin: 0ex;
  padding: 1ex;
  float: left;
  text-align: left;
  font-size: 150%;
  border-left: dotted 1px #cccccc;
  font-size: 80%;
  color: #555555;
}
div#sidebar p {
  margin: 0ex 0.2ex;
}
div#sidebar span.user {
  color: #111111;
  font-style: italic;
}
div#sidebar a {
  color: #555555;
}
div#sidebar h2 {
  margin: 2.0ex 0ex 0.5ex 0ex;
  font-size: 100%;
  color: #444444;
}
div#sidebar ul {
  margin: 0ex;
  padding: 0ex;
  line-height: 120%;
  font-size: 100%;
}
div#sidebar li {
  margin: 0ex 0ex 0.8ex 0.4ex;
  padding: 0ex;
  list-style-type: none;
}


/* environment-dependent hacks */
body.env_iphone div#frame,body.env_android div#frame {
  width: 95%;
}
body.env_iphone div#main,body.env_android div#main {
  width: 100%;
  font-size: 22pt;
}
body.env_iphone div#topnavi,body.env_android div#topnavi {
  display: block;
}
body.env_iphone div#sidebar,body.env_android div#sidebar {
  display: none;
}
body.env_iphone div.listcolumn {
  font-size: 85%;
}


/* printing image hacks */
@media print {
  div#frame {
    display: block;
    width: 100%;
  }
  div#main {
    display: block;
    width: 100%;
  }
  div#topnavi,div#botnavi,div#sidebar {
    display: none;
  }
  hr {
    display: none;
  }
  div.article .ah0 {
    margin-top: 4ex;
  }
}
